# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
/.idea/inspectionProfiles/Project_Default.xml
/read-more-read-less-toggler/README.md
/.idea/vcs.xml
/.idea/
/read-more-read-less-toggler/node_modules/
tirzepatide/tirzepatide cohorts.pdf
tirzepatide/Icons/Box_communities_2.png
tirzepatide/Icons/Box_communities.png
tirzepatide/Icons/Box_cross_2.png
tirzepatide/Icons/Box_cross.png
tirzepatide/Icons/Box_facemask_2.png
tirzepatide/Icons/Box_facemask.png
tirzepatide/Icons/Box_folder_2.png
tirzepatide/Icons/Box_folder.png
tirzepatide/Icons/Box_house_2.png
tirzepatide/Icons/Box_house.png
tirzepatide/Icons/Box_idea.png
tirzepatide/Icons/Box_laptop_2.png
tirzepatide/Icons/Box_laptop.png
tirzepatide/Icons/Box_Megaphone_2.png
tirzepatide/Icons/Box_Megaphone.png
tirzepatide/Icons/Box_phone_2.png
tirzepatide/Icons/Box_phone.png
tirzepatide/Icons/Box_stethoscope_2.png
tirzepatide/Icons/Box_stethoscope_v2.png
tirzepatide/Icons/Box_stethoscope.png
tirzepatide/Icons/Box_tick_2.png
tirzepatide/Icons/Box_tick.png
tirzepatide/Icons/Box_transformation.png
tirzepatide/Icons/Circle_communities_2.png
tirzepatide/Icons/Circle_communities.png
tirzepatide/Icons/Circle_cross_2.png
tirzepatide/Icons/Circle_cross.png
tirzepatide/Icons/Circle_facemask_2.png
tirzepatide/Icons/Circle_facemask.png
tirzepatide/Icons/Circle_folder_2.png
tirzepatide/Icons/Circle_folder.png
tirzepatide/Icons/Circle_house_2.png
tirzepatide/Icons/Circle_house.png
tirzepatide/Icons/Circle_laptop_2.png
tirzepatide/Icons/Circle_laptop.png
tirzepatide/Icons/Circle_Megaphone_2.png
tirzepatide/Icons/Circle_Megaphone.png
tirzepatide/Icons/Circle_phone_2.png
tirzepatide/Icons/Circle_phone.png
tirzepatide/Icons/Circle_stethoscope_2.png
tirzepatide/Icons/Circle_stethoscope.png
tirzepatide/Icons/Circle_tick_2.png
tirzepatide/Icons/Circle_tick.png
tirzepatide/Logos and Branding/ICS Brand Guidelines-June 2022.pdf
tirzepatide/Logos and Branding/NW_ICS_Logo_Hi-res_png.png
tirzepatide/Logos and Branding/NW_ICS_Logo_White_Hi-res_png.png
tirzepatide/tirzepatide cohorts_1.png
tirzepatide/tirzepatide cohorts_2.png
tirzepatide/Logos and Branding/ICS_logo_white.png
tirzepatide/Logos and Branding/ICS_logo_coloured.png
tirzepatide/guidelines.md
public/widget/ICS_logo_white.png:Zone.Identifier
.gitignore
.gitignore
public/widget/ICS_logo_coloured.png
Andy_Charlwood_CV_ATS_Optimized.md
Screenshot 2025-11-25 213920.png
